div.show{
	width: 650px;
	height: 433px;
	background: url('../res/images/bg.jpg') no-repeat;
	margin: 120px auto;
}
table{
	position: relative;
	top: 100px;
	text-align: center;
	margin: 0 auto;
}
td{
	width: 375px;
}
img {
	width: 100px;
	height: 100px;
}