body{
	background: #009044
}
div.show{
	width: 650px;
	height: 433px;
	background: url('../res/images/bg.jpg') no-repeat;
	margin: 120px auto;
}
table{
	position: relative;
	top: 100px;
	text-align: center;
	margin: 0 auto;
}
td{
	width: 375px;
}
td img {
	width: 100px;
	height: 100px;
}

.mask{
	width: 0px;
	height: 0;
	visibility: hidden;
}
.open{
	visibility: visible;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: width 0.5s, height 0.5s;
}
.mask img{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 430px;
	height: 430px;
	margin: -215px auto auto  -215px;
}