/*header*/
header{
	height: 44px;
	line-height: 44px;
	min-width: 950px;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
}
header img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	font-size: 26px;
}

header nav {
	display: inline-block;
}
header nav ul {
	display: inline-block;
	padding-right: 200px;
	overflow: hidden;/*清除浮动*/
	vertical-align: middle;
	margin: 0;
}

header nav ul li{
	width: 80px;
	float: right;
	list-style: none;
}

a, a:hover, a:visited, a:focus, a:active {
	color: #fff;
	text-decoration: none;
}